/** Colors ---------- + ---------- + ---------- */
$c-background: #ecac93;
$c-title: #71392f;
$c-prompt: #a34c3f;
$c-text: #ad674d;
$c-link: #ad674d;

$c-panel-header: #f1baa5;
$c-panel-title: #ffffff;

/** Styles ---------- + ---------- + ---------- */
.buttonize {
    width: 80%;
    cursor: pointer;
}
